@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.container {
    width: 1050px;
    margin: 0 auto;
}

.container:after {
    content: "";
    display: block;
    clear:both;
}

a{
    text-decoration: none;
}

header {
    background-color: black;
    color:white;
}

.logo {
    float: left;
}
.logo a {
    height: 10px;
    width: 99px;
    text-transform: uppercase;
    color: white;
    line-height: 50px;
}

span {
    color: rgb(35,175,143);
    font-weight: 700;
}

nav {
    float: right;
}

.topmenu a{
    color: white;
    text-transform: uppercase;
}

.topmenu li {
    float:left;
    padding: 0 50px;
    list-style: none;
    padding-top: 19px;
    padding-bottom:15px;
}

.topmenu li:last-child {
    padding-right: 0;
}


.topmenu li:hover {
    font-weight: 700;
}

.topsection{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.topsectiontext {
    padding: 55px 0;
    text-align: center;
}

.arrow {
    font-size:42px;
    color: rgb(35,175,143)
}

.leftarrow {
    float: left;
}

.rightarrow {
    float:right;
}

.slogan {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 40px;
    text-align:center;
}

.sectioncontent {
    float:left;
    width:950px;
}

.topsectiontext, .chair {
    float: left;
    width:50%;
}
 .leftarrow, .rightarrow {
     margin: 150px 0;
 }

 .button1 {
     color:white;
     text-align: center;
     font-size: 17px;
     line-height: 52px;
     text-transform: uppercase;
     background-color: rgb(35,175,143);
     border-radius: 5px;
     height: 52px;
     width: 264px;
     display:block;
     margin: 36px auto;  /*auto zeby byl na srodku !!!!!!*/
 }

 .section1text {
     text-align: center;
 }

 .section2 .row{
  margin: 0 -24px;
 }

 .col {
     width: 33.333%;
     float: left;
     padding: 25px 24px;
 }

 .img1, .img2{
     height: 225px;
     padding-top:150px;
     border: 1px solid rgb(209,211,212);
     background-size: cover;
 }

 .img1{
     background-image: url("../images/box1_img.jpg") ;
 }

 .img2 {
     background-image: url("../images/box2_img.jpg");
 }

 .section2text, .rightboxheader {
     font-weight: 700;
     background-color: rgba(255,255,255, .5);
     line-height: 60px;
     position:relative;
     padding-left: 14px;
 }

 .section2text::after{
     content: "";
     background-color: rgb(35,175,143);
     width:138px;
     height: 7px;
     display:block;
     position:absolute;
     bottom: 15px;

 }

 .rightbox {
     height: 252px;
     border: 1px solid rgb(209,211,212);

 }
p;


.rightboxheader::after{
    content: "";
    background-color: rgb(35,175,143);
    width:138px;
    height: 7px;
    display:block;
    position: absolute;
    bottom:15px;

}

.rightboxtext1, .rightboxtext2 {
    font-weight: 300;
    padding-bottom: 30px;
    padding-left: 14px;
    padding-right: 30px;
}

.pricelist {
    background-color: rgb(236,237,239);
    height: 730px;
}

.pricelistheader, .contactheader {
    text-transform: uppercase;
    font-size: 16px;
    padding-top:48px;
}

.pricelistheader::after {
    content:"";
    background-color: rgb(35,175,143);
    width:320px;
    height:7px;
    display:block;
}

.box, .box2{

    height: 495px;
    border: 2px solid rgb(202,203,205);
    padding-top: 30px;
    text-align: center;
    position: relative;
    margin-top:74px;
    background-color: rgb(246,247,249);
}

.box2 {
    width: 326px;
    height: 495;
    padding-top: 30px;
    text-align: center;
    position: relative;
    margin-top:74px;
    background-color: rgb(35,175,143);
}


.box .head .circle {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    border: 2px solid rgb(202,203,205);
    border-radius: 50%;
    top: -30px;
    left: 50%;
    margin-left: -30px;
    background-color: white;
}



.box .head .circle .circle-inside{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(180,181,182);
    position: absolute;
    top: 15px;
    left: 15px;
    display: block;

}

h2 {
    color: rgb(35,175,143);
    text-transform: uppercase;
    font-weight: 300;
    margin-top:12px;
}
/*
.box2h2 {
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    margin-top:12px;
}
*/
.pricecircle {
    width:125px;
    height:125px;
    border: 2px solid rgb(202,203,205);
    border-radius: 50%;
    text-align: center;
    background-color: white;
    margin :30px 90px;

}

.circletext1{
    font-size: 32px;
    color: rgb(180,181,182);
    text-align: center;
    font-weight: 700;
    margin-top:30px;

}

.circletext2 {
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(180,181,182);
    text-align: center;
    font-weight: 700;
}


.boxline1, .boxline2{
    width:100%;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.boxline1 {
    background-color: rgb(220,221,223);
    color:darkgray;
}

.boxline2{
    background-color: rgb(236,237,239);
    color: rgb(130,131,132);
}


.boxbutton {
    color:white;
    text-align: center;
    font-size: 12px;
    line-height: 34px;
    text-transform: uppercase;
    background-color: rgb(35,175,143);
    border-radius: 5px;
    height: 34px;
    width: 122px;
    display:block;
    margin: 19px auto;

}
/*
.boxbutton2 {
    color:rgb(35,175,143);
    text-align: center;
    font-size: 12px;
    line-height: 34px;
    text-transform: uppercase;
    background-color: white;
    border-radius: 5px;
    height: 34px;
    width: 122px;
    display:block;
    margin: 19px auto;

}*/

.contactheader::after {
    content:"";
    background-color: rgb(35,175,143);
    width:320px;
    height:7px;
    display:block;
}

